<?xml version="1.0"?>
<!--
/**
 * Location: magento2_root/app/code/Vikas/ShipwayTracking/etc/adminhtml/system.xml
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="ShipwayTracking" translate="label" sortOrder="1000">
            <label>Shipway Tracking</label>
        </tab>
        <section id="shipway_tracking_section" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Settings</label>
            <tab>ShipwayTracking</tab>
            <resource>Shipway_ShipwayTracking::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                
                <field id="text_shipway_username" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipway Username</label>
                </field>
                <field id="text_shipway_licence_key" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipway Licence Key</label>
                </field>
            </group>
        </section>
    </system>
</config>